@font-face {
  font-family: 'San Francisco Display';
  src: url("fonts/SanFranciscoDisplay-Bold.eot");
  src: url("fonts/SanFranciscoDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/SanFranciscoDisplay-Bold.woff") format("woff"), url("fonts/SanFranciscoDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'San Francisco Display';
  src: url("fonts/SanFranciscoDisplay-Regular.eot");
  src: url("fonts/SanFranciscoDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/SanFranciscoDisplay-Regular.woff") format("woff"), url("fonts/SanFranciscoDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
html {
  touch-action: manipulation;
  font-family: 'San Francisco Display';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font: 100% "San Francisco Display";
  color: white;
  background-color: #141414; }

.controls-disabled, .popup-disabled {
  position: fixed;
  display: none;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }

.popup-disabled {
  z-index: 5; }

.blur-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  transition: background 1s ease-in-out;
  background: url(files/bg_blur.jpg);
  animation: fade .5s; }

.hidden {
  display: none !important; }

.logo-container {
  position: fixed;
  height: 20em;
  width: 20em;
  top: 0em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .logo-container .logo {
    position: relative;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    animation: logo 2s; }
    .logo-container .logo div {
      position: absolute;
      background: white;
      border-radius: 4px;
      text-align: center;
      color: #464646;
      box-sizing: border-box; }
      .logo-container .logo div:nth-child(1) {
        z-index: 1;
        height: 4em;
        width: 16em;
        box-shadow: none; }
      .logo-container .logo div:nth-child(2) {
        height: 20em;
        width: 4em; }
      .logo-container .logo div:nth-child(3) {
        height: 20em;
        width: 4em;
        right: 4em; }
      .logo-container .logo div:nth-child(4) {
        height: 4em;
        width: 4em;
        top: 6em;
        font-size: 2em;
        line-height: 5em;
        animation: headphone 2s; }
      .logo-container .logo div:nth-child(5) {
        height: 4em;
        width: 4em;
        top: 6em;
        font-size: 2em;
        left: 6em;
        line-height: 5em;
        animation: headphone 2s; }

.button {
  font-size: 1.8em;
  background: dodgerblue;
  height: 2em;
  line-height: 2em;
  width: 7em;
  text-align: center;
  border-radius: 4px;
  margin: 1em auto;
  cursor: pointer; }

.shuffle {
  text-align: center;
  height: 2em;
  width: 8em;
  font-size: 2em;
  line-height: 0;
  background-color: dodgerblue;
  border-radius: 4px;
  margin-bottom: 1em;
  cursor: pointer;
  touch-action: manipulation; }

.album-item {
  height: 270px;
  margin: 0 1em 1em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  animation: fade 0.25s;
  touch-action: manipulation; }
  .album-item img {
    max-height: 200px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    pointer-events: none; }

.search-result {
  display: flex;
  height: 4em;
  min-height: 4em;
  line-height: 4em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;
  padding: 0;
  animation: fade 0.25s;
  cursor: pointer; }
  .search-result:hover {
    background: #282828; }
  .search-result.song-playing p {
    color: dodgerblue; }
  .search-result .result-info {
    display: flex;
    flex: 1;
    padding-left: 1em; }
  .search-result .result-options {
    display: flex;
    min-width: 0.75em;
    color: #BFBFBF; }
    .search-result .result-options .nav-arrow {
      font-size: 3em;
      width: 0.75em; }
  .search-result p {
    font-size: 2em;
    margin: 0; }
  .search-result .result-text-container {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    padding: 0.5em 0 0 1em; }
    .search-result .result-text-container p {
      font-size: 1.1em; }
      .search-result .result-text-container p:last-child {
        font-size: 0.9em;
        color: gray; }
  .search-result .result-options {
    display: flex; }
  .search-result img {
    height: 3em;
    width: 3em;
    margin: .5em;
    transition: all .3s ease-in-out; }

.playing .result-text {
  color: #65c5ff; }

.song-option-button {
  width: 4.5em;
  text-align: center;
  cursor: pointer; }
  .song-option-button img {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.25em;
    filter: invert(1);
    pointer-events: none; }

#settings-button {
  position: absolute;
  font-size: 1.5em;
  top: 1.7em;
  right: 1em;
  cursor: pointer; }
  #settings-button:active {
    filter: opacity(0.5); }

form#search {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  max-width: 25em; }
  form#search input {
    width: 90%;
    height: 60%;
    border: none;
    border-radius: 4px;
    font-size: 1.8em;
    outline: none;
    padding: 0 0.5em; }

form#library-search {
  display: flex;
  margin-top: 1em; }
  form#library-search input {
    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    font-size: 1.6em;
    height: 2em;
    padding-left: 0.5em;
    width: 95%;
    max-width: 27em;
    margin: auto;
    outline: none; }

form#playlist-creator-form {
  display: flex;
  flex-direction: column;
  padding-right: 1em; }
  form#playlist-creator-form input {
    -webkit-appearance: none;
    border: none;
    outline: none;
    height: 1.8em;
    font-size: 1.8em;
    width: 100%;
    max-width: 25em;
    margin: 1em auto;
    border-radius: 4px;
    padding-left: 0.5em; }

.album-head {
  position: relative;
  display: flex;
  font-size: 3em;
  min-height: 300px;
  margin: 0 1em;
  transition: all .5s ease-in-out; }
  .album-head .album-head-bg {
    animation: scale-big 1s; }
  .album-head h3 {
    animation: fadein .5s; }
  .album-head .album-img {
    position: relative;
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .album-head .album-img .artwork {
      max-width: 100%;
      box-shadow: 0 0 20px black; }
    .album-head .album-img:hover .album-play img {
      opacity: 1;
      background: rgba(0, 0, 0, 0.6); }
    .album-head .album-img .album-play {
      display: none; }
      .album-head .album-img .album-play img {
        opacity: 0;
        transition: all .15s ease-in-out; }
  .album-head .album-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em; }
    .album-head .album-info h6, .album-head .album-info h3 {
      padding: 0;
      margin: 0;
      line-height: 60px; }
    .album-head .album-info h6 {
      font-weight: 100; }
    .album-head .album-info .shuffle {
      margin-top: 1em;
      height: 2em;
      font-size: .5em;
      line-height: 2em;
      width: 8em; }
      .album-head .album-info .shuffle p {
        margin: 0; }
  .album-head .album-head-bg {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .3;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    background-size: cover !important; }
  @media screen and (max-width: 750px) {
    .album-head {
      margin: 0 0.3em 0 0; }
      .album-head .album-img {
        width: 40%; }
      .album-head .album-info h3 {
        font-size: 0.6em;
        line-height: 1em; }
      .album-head .album-info h6 {
        font-size: 0.5em; } }

.controls {
  z-index: 4;
  position: fixed;
  height: 6em;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #1F1F1F;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.25s;
  transform: translate3d(0, 0, 0); }
  .controls.playing #artwork-fullscreen img {
    height: 110%; }
  .controls.fullscreen {
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #1F1F1F;
    padding-bottom: 4em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    animation: reveal-fullscreen-controls 0.25s; }
    .controls.fullscreen #mini-controls {
      height: 2.5em; }
      .controls.fullscreen #mini-controls #song-info-container div, .controls.fullscreen #mini-controls #playback-container div {
        opacity: 0;
        pointer-events: none; }
      .controls.fullscreen #mini-controls #arrow-down {
        display: block; }
    .controls.fullscreen .controls-fullscreen-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 42em;
      min-height: 42em; }
  .controls #mini-controls {
    position: relative;
    display: flex;
    line-height: 4em;
    font-size: 24px;
    width: 100%;
    color: #white; }
    .controls #mini-controls #arrow-down {
      display: none;
      margin-right: 0.3em;
      line-height: 1em;
      font-size: 3em;
      cursor: pointer; }
    .controls #mini-controls #song-info-container, .controls #mini-controls #playback-container {
      display: flex; }
    .controls #mini-controls #song-info-container {
      flex: 1;
      cursor: pointer; }
    .controls #mini-controls .artwork-container {
      height: 100%;
      transition: all 0.25s; }
      .controls #mini-controls .artwork-container img {
        height: 60px;
        width: auto;
        margin: 19px 1em;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
    .controls #mini-controls .song-title {
      flex: 1;
      transition: all 0.25s; }
    .controls #mini-controls .playback-button {
      display: flex;
      transition: all 0.35s; }
      .controls #mini-controls .playback-button img {
        margin: auto 0.5em; }
  .controls .controls-fullscreen-container {
    padding: 0 2em;
    display: none; }
  .controls #artwork-fullscreen {
    height: 20em;
    display: flex; }
    .controls #artwork-fullscreen img {
      height: 100%;
      width: auto;
      margin: auto;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 10px 16px 0;
      transition: all 0.35s ease-in-out;
      pointer-events: none; }
  .controls .progress-bar {
    position: relative;
    height: 4px;
    width: 100%;
    max-width: 25em;
    background: black;
    margin: 4em auto 2em auto;
    border-radius: 2px; }
    .controls .progress-bar .progress {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      background: #CCCACA;
      border-radius: 2px; }
    .controls .progress-bar .progress-bar-handle {
      min-height: 10px;
      min-width: 10px;
      background: #CCCACA;
      border-radius: 50px;
      margin-top: -3px;
      margin-right: -3px;
      cursor: pointer;
      transition: all 0.15s ease-in-out; }
      .controls .progress-bar .progress-bar-handle:active {
        background: dodgerblue;
        min-height: 30px;
        min-width: 30px;
        margin-top: -13px;
        margin-right: -9px;
        border: 2px solid white;
        box-sizing: border-box; }
  .controls .track-time-container {
    display: flex;
    justify-content: space-between;
    color: #7b7b7b;
    width: 100%;
    margin: -1.5em auto 1em auto;
    max-width: 25em; }
  .controls .song-info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    line-height: 1.5em; }
    .controls .song-info-container .song-title {
      font-weight: bold; }
    .controls .song-info-container .song-album {
      color: dodgerblue; }
  .controls .playback-fullscreen-container {
    display: flex;
    flex: 1;
    justify-content: center; }
    .controls .playback-fullscreen-container .playback-button {
      display: flex;
      cursor: pointer; }
      .controls .playback-fullscreen-container .playback-button:active img {
        transform: scale(0.8); }
      .controls .playback-fullscreen-container .playback-button img {
        margin: auto;
        height: 5em;
        transition: all 0.15s ease-in-out; }
  .controls .volume-bar {
    -webkit-appearance: none;
    width: 100%;
    max-width: 28em;
    height: 5px;
    background: #CCCACA;
    outline: none;
    margin: 3em auto 0 auto;
    border-radius: 2px; }
    .controls .volume-bar::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Override default look */
      appearance: none;
      width: 30px;
      /* Set a specific slider handle width */
      height: 30px;
      /* Slider handle height */
      border-radius: 50%;
      background: white;
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
      box-shadow: rgba(0, 0, 0, 0.3) 0 10px 16px 0;
      border: 1px solid #dedede; }

@media screen and (min-width: 40em) {
  .controls {
    max-width: 40em; } }
@media screen and (min-width: 1200px) {
  .controls {
    z-index: 2;
    position: relative;
    height: 100% !important;
    box-shadow: none !important;
    background: #141414;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

  .controls-fullscren-container {
    margin-top: 2em; }

  .controls-disabled {
    display: none !important; }

  #mini-controls {
    display: none;
    pointer-events: none; }

  #song-info-container div, #playback-container div {
    opacity: 0;
    pointer-events: none; }

  #arrow-down {
    display: none !important; }

  .controls-fullscreen-container {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 46em; } }
.view-container::-webkit-scrollbar-track {
  background-color: rgba(70, 70, 70, 0.7); }

.view-container::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(70, 70, 70, 0.7); }

.view-container::-webkit-scrollbar-thumb {
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 4px; }

.toast {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 12em;
  max-width: 12em;
  background: rgba(70, 70, 70, 0.8);
  box-shadow: 0 0 50px #1e1e1e;
  text-align: center;
  border-radius: 8px;
  animation: fadeup 0.15s; }
  .toast img {
    height: 100px;
    width: 100px;
    margin: 0 auto; }

.nav-header {
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  background: black;
  display: flex;
  height: 5em;
  padding: 0 1em;
  overflow: hidden;
  box-shadow: 0 0 10px black; }
  .nav-header .blur-bg {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url("files/bg.jpg");
    animation: none;
    filter: blur(20px) brightness(30%); }
  .nav-header .back-button {
    line-height: 2.7em;
    font-size: 1.8em;
    color: #65c5ff;
    cursor: pointer; }
    .nav-header .back-button:active {
      filter: opacity(0.5); }
  .nav-header .nav-header-title {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 10em;
    line-height: 2.7em;
    font-size: 1.8em;
    text-align: center;
    margin: auto;
    font-weight: bold;
    animation: fade 0.25s; }

.popup-dialog {
  z-index: 5;
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 0.75em;
  max-width: 25em;
  animation: reveal-popup 0.25s; }
  @media screen and (max-width: 750px) {
    .popup-dialog {
      max-width: none; } }
  .popup-dialog div {
    position: relative;
    height: 3em;
    line-height: 3em;
    font-size: 1.7em;
    text-align: center;
    background: white;
    color: dodgerblue;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0 10px 16px 0; }
    .popup-dialog div:active {
      background: #e6e6e6; }
  .popup-dialog .popup-option:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px; }
  .popup-dialog .popup-option:nth-last-child(2) {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; }
  .popup-dialog .popup-cancel-button {
    border-radius: 16px;
    margin-top: 0.45em;
    font-weight: bold; }

.nav-bar {
  z-index: 15;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 5em;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0 10px 16px 0;
  overflow: hidden; }
  .nav-bar .cover-bg {
    z-index: -1;
    transform: translate3d(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(files/bg.jpg);
    background-size: cover;
    filter: blur(20px);
    overflow: hidden;
    background-size: cover;
    background-repeat: none;
    opacity: 0.7;
    transition: background 1s ease-in-out; }

.player {
  position: relative;
  flex: 1;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.25s ease-in-out; }

.main {
  overflow: auto;
  display: flex; }
  .main .header {
    font-size: 4em;
    font-weight: bold; }
  .main .subheader {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 0.5em 0; }

.view-container {
  flex: 1;
  padding: 0 0 6em 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .view-container.shifted-down {
    margin-top: 5em; }
  .view-container#recently-played-container {
    padding: 1em 0 6em 0; }
  .view-container div.view-section {
    position: relative;
    max-width: 70em;
    margin: auto; }
    .view-container div.view-section#album-container {
      display: flex;
      margin-top: 1em;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 60em; }

.view {
  display: flex;
  flex-direction: column;
  padding-bottom: 11em;
  overflow-x: hidden;
  max-width: 70em;
  margin: auto;
  width: 100%; }
  .view .view-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .view#playlist-creator {
    display: none; }
    .view#playlist-creator h3 {
      font-size: 1.5em; }
    .view#playlist-creator input {
      height: 2em;
      width: 20em;
      padding-left: 1em;
      font-size: 1.5em;
      border: none;
      border-radius: 4px;
      outline: none; }
    .view#playlist-creator .submit-playlist-button {
      margin: 2em 1em 1em 0;
      width: 10em;
      line-height: 3em; }

.playlist-selector {
  z-index: 16;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1em;
  max-width: 35em;
  max-height: 45em;
  overflow: auto;
  background: #3c3c3c;
  animation: fadeup 0.2s; }
  .playlist-selector .playlist-selector-item {
    font-size: 1.5em;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer; }
    .playlist-selector .playlist-selector-item:hover {
      background: #282828; }
  .playlist-selector .button {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
    height: 3em;
    width: 10em;
    font-size: 1.5em;
    line-height: 2.9em;
    text-align: center;
    border-radius: 4px;
    background: dodgerblue;
    cursor: pointer; }
    .playlist-selector .button:active {
      filter: brightness(85%); }

.search-results {
  max-width: 70em;
  margin: auto;
  width: 100%;
  animation: fadeup 0.3s;
  padding-bottom: 13em; }

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10%) scale(0.8); } }
@keyframes reveal-fullscreen-controls {
  0% {
    transform: translateY(50%); } }
@keyframes hide-fullscreen-controls {
  0% {
    transform: translateY(-50%); } }
@keyframes reveal-popup {
  0% {
    transform: translateY(30em); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0.8);
    border: none; } }
@keyframes headphone {
  0% {
    width: 0;
    color: transparent;
    border: none; }
  50% {
    color: transparent;
    border: none; } }
.slide-in-right {
  animation: slide-in-right .35s; }

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(-40px); } }
.slide-in-left {
  animation: slide-in-left .35s; }

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(40px); } }
.slide-in-up {
  animation: slide-in-up .35s; }

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px); } }
.reveal-nav {
  animation: reveal-nav .25s; }

@keyframes reveal-nav {
  0% {
    opacity: 0;
    transform: translateY(-3em); } }
.slide-out-right {
  animation: slide-out-right .35s; }

@keyframes slide-out-right {
  100% {
    opacity: 0;
    transform: translateX(-40px); } }
.slide-out-left {
  animation: slide-out-left .35s; }

@keyframes slide-out-left {
  100% {
    opacity: 0;
    transform: translateX(40px); } }
.logo-background {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black; }

@keyframes fade {
  0% {
    opacity: 0; } }
@keyframes scale-big {
  0% {
    opacity: 0;
    transform: scale(0.9); } }
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(10%); } }
.apple-music {
  background-color: white;
  color: black; }
  .apple-music .disabled, .apple-music .popup-disabled {
    background: rgba(0, 0, 0, 0.4); }
  .apple-music .blur-bg, .apple-music .blur {
    background: white !important; }
  .apple-music .logo-background {
    background: white; }
  .apple-music .logo-container .logo div {
    background: #ff2d55;
    color: white !important; }
  .apple-music .nav-header {
    background-color: white;
    box-shadow: none;
    color: black;
    animation: none; }
    .apple-music .nav-header .blur-bg {
      display: none; }
    .apple-music .nav-header .back-button {
      color: #ff2d55; }
  .apple-music #library-search input, .apple-music input [type=text], .apple-music form input {
    background: #f0f0f0; }
  .apple-music #settings-button {
    color: #ff2d55; }
  .apple-music .search-result {
    color: #ff2d55;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .apple-music .search-result:hover {
      background: rgba(0, 0, 0, 0.05); }
    .apple-music .search-result.song-playing p {
      color: #ff2d55 !important; }
    .apple-music .search-result:active {
      background: #ff3b30;
      color: white; }
      .apple-music .search-result:active .song-option-button img {
        filter: invert(1); }
      .apple-music .search-result:active p {
        color: white !important; }
    .apple-music .search-result.dark-result {
      color: black; }
      .apple-music .search-result.dark-result:hover {
        background: #ebebeb;
        color: black; }
    .apple-music .search-result .result-text-container p {
      color: black; }
      .apple-music .search-result .result-text-container p:last-child {
        color: gray; }
    .apple-music .search-result .song-option-button img {
      filter: invert(0.5); }
  .apple-music .album-item img {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px; }
  .apple-music .album-head h6 {
    color: #ff2d55; }
  .apple-music .album-head .album-head-bg {
    display: none; }
  .apple-music .album-head .artwork {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px; }
  .apple-music .shuffle, .apple-music .action-button {
    background: white;
    color: #ff2d55;
    border: 1px solid #ff2d55;
    border-radius: 4px; }
    .apple-music .shuffle:active, .apple-music .action-button:active {
      background: #ff3b30;
      color: white; }
  .apple-music .toast {
    color: #868585;
    background: #f1f1f1;
    box-shadow: 0 0 50px #9a9a9a; }
    .apple-music .toast img {
      filter: invert(0.6); }
  .apple-music .playlist-selector {
    background: white; }
  .apple-music .view-container::-webkit-scrollbar-track {
    background-color: white; }
  .apple-music .view-container::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.5); }
  .apple-music .view-container::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 4px; }
  .apple-music .popup-dialog div {
    color: #ff2d55; }
  .apple-music .controls {
    background: #EBE8E8; }
    .apple-music .controls.fullscreen {
      background: white; }
    .apple-music .controls #mini-controls {
      color: #424242; }
      .apple-music .controls #mini-controls .playback-button {
        filter: invert(0.7); }
    .apple-music .controls .playback-button {
      filter: invert(1); }
    .apple-music .controls .progress-bar {
      background: #cccaca; }
      .apple-music .controls .progress-bar .progress {
        background: #7B7B7B; }
      .apple-music .controls .progress-bar .progress-bar-handle {
        background: #7B7B7B; }
        .apple-music .controls .progress-bar .progress-bar-handle:active {
          background: #ff2d55; }
    .apple-music .controls .track-time-container {
      color: #7B7B7B; }
    .apple-music .controls .song-info-container .song-album {
      color: #F14046; }
    .apple-music .controls .volume-bar {
      background: #7B7B7B; }
  @media screen and (min-width: 1200px) {
    .apple-music .controls {
      background: white; } }

/*# sourceMappingURL=main.css.map */
