.player {
    position: relative;
    flex: 1;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.25s ease-in-out;

    @media screen and (max-width: $mobile-width) {
    }
}
