.apple-music {
    $accent-color: rgb(255, 45, 85);
    $focus-color: rgb(255, 59, 48);
    $focus-color-alpha: rgba(255, 45, 85, 0.6);
    $black: #636363;

    background-color: white;
    color: black;

    .disabled, .popup-disabled {
        background: rgba(0,0,0,.4);
    }

    .blur-bg, .blur {
        background: white !important;
    }

    .logo-background {
        background: white;
    }

    .logo-container {
        .logo {
            div {
                background: $accent-color;
                color: white !important;
            }
        }
    }

    .nav-header {
        background-color: white;
        box-shadow: none;
        color: black;
        animation: none;

        .blur-bg {
            display: none;
        }

        .back-button {
            color: $accent-color;
        }
    }

    #library-search input, input [type=text], form input {
        background: rgb(240,240,240);
    }

    #settings-button {
        color: $accent-color;
    }

    .search-result {
        color: $accent-color;
        border-bottom: 1px solid rgba(0,0,0,0.12);

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        &.song-playing {
            p {
                color: $accent-color !important;
            }
        }

        &:active {
            background: $focus-color;
            color: white;

            .song-option-button img {
                filter: invert(1);
            }

            p {
                color: white !important;
            }
        }

        &.dark-result {
            color: black;

            &:hover {
                background: rgb(235,235,235);
                color: black;
            }

            &:active {
                background: rgb(230, 230, 230);
                color: black !important;
            }
        }

        .result-text-container {
            p {
                color: black;

                &:last-child {
                    color: gray;
                }
            }
        }

        .song-option-button {
            img {
                filter: invert(0.5);
            }
        }
    }

    .album-item {
        img {
            box-shadow: none;
            border: 1px solid rgba(0,0,0,0.12);
            border-radius: 4px;
        }
    }

    .album-head {
        h6 {
            color: $accent-color;
        }

        .album-head-bg {
            display: none;
        }

        .artwork {
            box-shadow: none !important;
            border: 1px solid rgba(0,0,0,0.12);
            border-radius: 4px;
        }
    }

    .shuffle, .action-button {
        background: white;
        color: $accent-color;
        border: 1px solid $accent-color;
        border-radius: 4px;

        &:active {
            background: $focus-color;
            color: white;
        }
    }

    .toast {
        color: rgb(134, 133, 133);
        background: rgba(241, 241, 241, 1);
        box-shadow: 0 0 50px #9a9a9a;

        img {
            filter: invert(0.6);
        }
    }

    .playlist-selector {
        background: white;
    }

    .view-container::-webkit-scrollbar-track
    {
        background-color: white;
    }

    .view-container::-webkit-scrollbar
    {
        width: 10px;
        background-color: rgba(0,0,0,0.5);
    }

    .view-container::-webkit-scrollbar-thumb
    {
        background-color: rgb(30,30,30);
        border-radius: 4px;
    }

    .popup-dialog {
        div {
            color: $accent-color;
        }
    }

    .controls {
        background: #EBE8E8;

        &.fullscreen {
            background: white;
        }

        #mini-controls {
            color: #424242;

            .playback-button {
                filter: invert(0.7);
            }
        }

        .playback-button {
            filter: invert(1);
        }

        .progress-bar {
            background: #cccaca;

            .progress {
                background: #7B7B7B;
            }

            .progress-bar-handle {
                background: #7B7B7B;

                &:active {
                    background: $accent-color;
                }
            }
        }

        .track-time-container {
            color: #7B7B7B;
        }

        .song-info-container {
            .song-album {
                color: #F14046;
            }
        }

        .volume-bar {
            background: #7B7B7B;
        }
    }

    @media screen and (min-width: 1200px) {
        .controls {
            background: white;
        }
    }
}
