@font-face {
    font-family: 'San Francisco Display';
    src: url('fonts/SanFranciscoDisplay-Bold.eot');
    src: url('fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SanFranciscoDisplay-Bold.woff') format('woff'),
        url('fonts/SanFranciscoDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('fonts/SanFranciscoDisplay-Regular.eot');
    src: url('fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SanFranciscoDisplay-Regular.woff') format('woff'),
        url('fonts/SanFranciscoDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    touch-action: manipulation;
    font-family: 'San Francisco Display';
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $darkest;
}

.controls-disabled, .popup-disabled {
    position: fixed;
    display: none;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}

.popup-disabled {
    z-index: 5;
}

.blur-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    transition: background 1s ease-in-out;
    background: url(files/bg_blur.jpg);
    animation: fade .5s;
}

.hidden {
    display: none !important;
}
