.album-head {
    position: relative;
    display: flex;
    font-size: 3em;
    min-height: 300px;
    margin: 0 1em;
    transition: all .5s ease-in-out;

    .album-head-bg {
        animation: scale-big 1s;
    }

    h3 {
        animation: fadein .5s;
    }

    .album-img {
        position: relative;
        width: 25%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .artwork {
            max-width: 100%;
            box-shadow: 0 0 20px black;

        }

        &:hover .album-play img {
            opacity: 1;
            background: rgba(0,0,0,.6);
        }

        .album-play {
            display: none;
            img {
                opacity: 0;
                transition: all .15s ease-in-out;
            }
        }
    }

    .album-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin-left: 1em;

        h6, h3 {
            padding : 0;
            margin : 0;
            line-height : 60px;
        }

        h6 {
            font-weight: 100;
        }

        .shuffle {
            margin-top: 1em;
            height: 2em;
            font-size: .5em;
            line-height: 2em;
            width: 8em;
            p {
                margin: 0;
            }
        }
    }

    .album-head-bg {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: .3;
        filter: blur(50px);
        -webkit-filter: blur(50px);
        background-size: cover !important;
    }

    @media screen and (max-width: 750px) {
        margin: 0 0 0 0.5em;

        .album-img {
            width: 40%;
        }

        .album-info {
            h3 {
                font-size: 0.6em;
                line-height: 1em;
            }

            h6 {
                font-size: 0.5em;
            }
        }
    }
}

