.nav-button {
    height: 100%;
    width: 100%;
    max-width: 8em;
    line-height: 2.5em;
    text-align: center;
    font-size: 2em;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    touch-action: manipulation;

    &:hover {
        background: rgba(10,10,10, .4);
    }

    &.selected {
        border-bottom: 0.1em solid dodgerblue;
        box-sizing: border-box;
    }
}

.action-button {
    height: 3em;
    font-size: 1em;
    line-height: 0.5em;
    max-width: 12em;
    border-radius: 4px;
    background-color: dodgerblue;
    cursor: pointer;
    margin: 2em;
    text-align: center;
    touch-action: manipulation;

    &:active {
        filter: brightness(80%);
    }

    &:hover {
        background: dodgerblue;
    }

}

.shuffle {
    text-align: center;
    height: 2em;
    width: 8em;
    font-size: 2em;
    line-height: 0;
    background-color: dodgerblue;
    border-radius: 4px;
    margin-bottom: 1em;
    cursor: pointer;
    touch-action: manipulation;
}

.artist-item {
    width: 100%;
    margin-left: 2em;
    padding-left: 1em;
    height: 2.5em;
    line-height: 2.5em;
    border-bottom: $border-divider;
    cursor: pointer;
    touch-action: manipulation;

    p {
        margin: 0;
    }

    &:hover {
        background: rgb(40,40,40);
    }
}

.album-item {
    height: 270px;
    margin: 0 1em 1em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    animation: fade 0.25s;
    touch-action: manipulation;

    img{
        max-height: 200px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.playlist-item {
    font-size: 1.5em;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 2em;
    border-bottom: $border-divider;
    cursor: pointer;
    touch-action: manipulation;

    &:hover {
        background: rgb(40,40,40);
    }
}

.search-result {
    display: flex;
    height: 4em;
    min-height: 4em;
    line-height: 4em;
    border-bottom: $border-divider;
    overflow:hidden;
    padding: 0;
    animation: fade 0.25s;

    &:hover {
        background: rgb(40,40,40);
    }

    .result-info {
        display: flex;
        flex: 1;
        padding-left: 1em;
    }

    .result-options {
        display: flex;
    }

    p {
        text-align: left;
        line-height: 1em;
        margin-top: .2em;
        height: 1em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &:nth-child(1) {
            margin: auto;
            height: 100%;
            font-size: 1.8em;
            line-height: 2.1em;
        }

        &:nth-child(2) {
            margin: auto;
            height: 60%;
            font-size: .8em;
            line-height: 1.6em;
        }
    }

    .result-options {
        display: flex;
    }

    img {
        height: 3em;
        width: 3em;
        margin: .5em;
        transition: all .3s ease-in-out;
    }
}

.playing {
    color: dodgerblue;
}

.song-option-button {
    width: 4.5em;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: rgb(70,70,70);
    }
}
