.controls {
    z-index: 2;
    position: fixed;
    height: 84px;
    width: 100%;
    max-width: 40em;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #EBE8E8;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.25s;
    overflow: hidden;

    &.fullscreen {
        height: 96vh;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background: white;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);

        #mini-controls {
            height: 2.5em;

            #song-info-container div, #playback-container div {
                opacity: 0;
                pointer-events: none;
            }

            #arrow-down {
                display: block;
            }
        }

        .controls-fullscreen-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
        }
    }

    #mini-controls {
        position: relative;
        display: flex;
        height: 84px;
        line-height: 84px;
        font-size: 24px;
        width: 100%;
        color: #424242;

        #arrow-down {
            display: none;
            margin-right: 0.3em;
            line-height: 1em;
            font-size: 2em;
            cursor: pointer
        }

        #song-info-container, #playback-container {
            display: flex;
        }

        #song-info-container {
            flex: 1;
            cursor: pointer;
        }

        .artwork-container {
            height: 100%;
            transition: all 0.25s;

            img {
                height: 60px;
                width: auto;
                margin: 12px;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0,0,0, 0.25);
            }
        }

        .song-title {
            flex: 1;
            transition: all 0.25s;
        }

        .playback-button {
            display: flex;
            filter: invert(0.7);
            transition: all 0.35s;

            img {
                margin: auto 0.5em;
            }
        }
    }

    .controls-fullscreen-container {
        padding: 0 2em;
        display: none;
    }

    #artwork-fullscreen {
        height: 242px;
        display: flex;

        img {
            min-height: 16em;
            max-height: 100%;
            margin: auto;
            border-radius: 8px;
            box-shadow: $box-shadow;
        }
    }

    .progress-bar {
        position: relative;
        height: 4px;
        width: 100%;
        max-width: 25em;
        background: #cccaca;
        margin: 4em auto 2em auto;
        border-radius: 2px;

        .progress {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            background: #7b7b7b;
            border-radius: 2px;
        }

        .progress-bar-handle {
            min-height: 10px;
            min-width: 10px;
            background: #7b7b7b;
            border-radius: 50px;
            margin-top: -3px;
            margin-right: -3px;
            cursor: pointer;
            transition: all 0.15s ease-in-out;

            &:active {
                background: #ff3b30;
                min-height: 30px;
                min-width: 30px;
                margin-top: -13px;
                margin-right: -9px;
                border: 2px solid white;
                box-sizing: border-box;
            }
        }
    }

    .track-time-container {
        display: flex;
        justify-content: space-between;
        color: #7b7b7b;
        width: 100%;
        margin: -1.5em auto 1em auto;
        max-width: 25em;
    }

    .song-info-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        line-height: 1.5em;
        margin-bottom: 1em;

        .song-title {
            font-weight: bold;
        }

        .song-album {
            color: #f14046;
        }
    }

    .playback-fullscreen-container {
        display: flex;
        flex: 1;
        justify-content: center;

        .playback-button {
            display: flex;
            cursor: pointer;

            img {
                filter: invert(1);
                margin: auto;
                height: 5em;
            }
        }
    }

    .volume-bar {
        -webkit-appearance: none;
        width: 100%;
        max-width: 25em;
        height: 5px;
        background: #7b7b7b;
        outline: none;
        margin: 3em auto 0 auto;
        border-radius: 2px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 30px; /* Set a specific slider handle width */
            height: 30px; /* Slider handle height */
            border-radius: 50%;
            background: white; /* Green background */
            cursor: pointer; /* Cursor on hover */
            box-shadow: $box-shadow;
            border: 1px solid #dedede;
        }
    }
}

    .controls-disabled {
        z-index: 1;
        background: rgba(0,0,0,0.3) !important;
    }
