.controls {
    z-index: 4;
    position: fixed;
    height: 6em;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #1F1F1F;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.25s;
    transform: translate3d(0,0,0);


    &.playing {
        #artwork-fullscreen {
            img {
                height: 110%;
            }
        }
    }

    &.fullscreen {
        height: auto;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background: #1F1F1F;
        padding-bottom: 4em;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
        animation: reveal-fullscreen-controls 0.25s;

        #mini-controls {
            height: 2.5em;

            #song-info-container div, #playback-container div {
                opacity: 0;
                pointer-events: none;
            }

            #arrow-down {
                display: block;
            }
        }

        .controls-fullscreen-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 42em;
            min-height: 42em;
        }
    }

    #mini-controls {
        position: relative;
        display: flex;
        line-height: 4em;
        font-size: 24px;
        width: 100%;
        color: #white;

        #arrow-down {
            display: none;
            margin-right: 0.3em;
            line-height: 1em;
            font-size: 3em;
            cursor: pointer
        }

        #song-info-container, #playback-container {
            display: flex;
        }

        #song-info-container {
            flex: 1;
            cursor: pointer;
        }

        .artwork-container {
            height: 100%;
            transition: all 0.25s;

            img {
                height: 60px;
                width: auto;
                margin: 19px 1em;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0,0,0, 0.25);
            }
        }

        .song-title {
            flex: 1;
            transition: all 0.25s;
        }

        .playback-button {
            display: flex;
            transition: all 0.35s;

            img {
                margin: auto 0.5em;
            }
        }
    }

    .controls-fullscreen-container {
        padding: 0 2em;
        display: none;
    }

    #artwork-fullscreen {
        height: 20em;
        display: flex;

        img {
            height: 100%;
            width: auto;
            margin: auto;
            border-radius: 8px;
            box-shadow: $box-shadow;
            transition: all 0.35s ease-in-out;
            pointer-events: none;
        }
    }

    .progress-bar {
        position: relative;
        height: 4px;
        width: 100%;
        max-width: 25em;
        background: black;
        margin: 4em auto 2em auto;
        border-radius: 2px;

        .progress {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            background: #CCCACA;
            border-radius: 2px;
        }

        .progress-bar-handle {
            min-height: 10px;
            min-width: 10px;
            background: #CCCACA;
            border-radius: 50px;
            margin-top: -3px;
            margin-right: -3px;
            cursor: pointer;
            transition: all 0.15s ease-in-out;

            &:active {
                background: dodgerblue;
                min-height: 30px;
                min-width: 30px;
                margin-top: -13px;
                margin-right: -9px;
                border: 2px solid white;
                box-sizing: border-box;
            }
        }
    }

    .track-time-container {
        display: flex;
        justify-content: space-between;
        color: #7b7b7b;
        width: 100%;
        margin: -1.5em auto 1em auto;
        max-width: 25em;
    }

    .song-info-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        line-height: 1.5em;

        .song-title {
            font-weight: bold;
        }

        .song-album {
            color: dodgerblue;
        }
    }

    .playback-fullscreen-container {
        display: flex;
        flex: 1;
        justify-content: center;

        .playback-button {
            display: flex;
            cursor: pointer;

            &:active {
                img {
                    transform: scale(0.8);
                }
            }

            img {
                margin: auto;
                height: 5em;
                transition: all 0.15s ease-in-out;
            }
        }
    }

    .volume-bar {
        -webkit-appearance: none;
        width: 100%;
        max-width: 28em;
        height: 5px;
        background: #CCCACA;
        outline: none;
        margin: 3em auto 0 auto;
        border-radius: 2px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 30px; /* Set a specific slider handle width */
            height: 30px; /* Slider handle height */
            border-radius: 50%;
            background: white; /* Green background */
            cursor: pointer; /* Cursor on hover */
            box-shadow: $box-shadow;
            border: 1px solid #dedede;
        }
    }
}

@media screen and (min-width: 40em) {
    .controls {
        max-width: 40em;
    }
}

@media screen and (min-width: 1200px) {
    .controls {
        z-index: 2;
        position: relative;
        height: 100% !important;
        box-shadow: none !important;
        background: #141414;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .controls-fullscren-container {
        margin-top: 2em;
    }

    .controls-disabled {
        display: none !important;
    }

    #mini-controls {
        display: none;
        pointer-events: none;
    }

    #song-info-container div, #playback-container div {
        opacity: 0;
        pointer-events: none;
    }

    #arrow-down {
        display: none !important;
    }

    .controls-fullscreen-container {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        height: 46em;
    }
}
