form#search {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    max-width: 25em;

    input {
        width: 90%;
        height: 60%;
        border: none;
        border-radius: 4px;
        font-size: 1.8em;
        outline: none;
        padding: 0 0.5em;
    }
}

form#library-search {
    display: flex;
    margin-top: 1em;

    input {
        -webkit-appearance: none;
        border: none;
        border-radius: 4px;
        font-size: 1.6em;
        height: 2em;
        padding-left: 0.5em;
        width: 95%;
        max-width: 27em;
        margin: auto;
        outline: none;
    }
}

form#playlist-creator-form {
    display: flex;
    flex-direction: column;
    padding-right: 1em;

    input {
        -webkit-appearance: none;
        border: none;
        outline: none;
        height: 1.8em;
        font-size: 1.8em;
        width: 100%;
        max-width: 25em;
        margin: 1em auto;
        border-radius: 4px;
        padding-left: 0.5em;
    }
}

#mediaUploadForm {
    #file-upload {
    }
}
