.nav-header {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    height: 5em;
    padding: 0 1em;
    overflow: hidden;
    box-shadow: 0 0 10px black;

    .blur-bg {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background: url('files/bg.jpg');
        animation: none;
        filter: blur(20px) brightness(30%);
    }

    .back-button {
        line-height: 2.7em;
        font-size: 1.8em;
        color: #65c5ff;
        cursor: pointer;
    }

    .nav-header-title {
        position: absolute;
        left: 0;
        right: 0;
        max-width: 10em;
        line-height: 2.7em;
        font-size: 1.8em;
        text-align: center;
        margin: auto;
        font-weight: bold;
        animation: fade 0.25s;
    }
}
