.view-container::-webkit-scrollbar-track
{
	background-color: rgba(70,70,70, 0.7);
}

.view-container::-webkit-scrollbar
{
	width: 10px;
    background-color: rgba(70,70,70,0.7);
}

.view-container::-webkit-scrollbar-thumb
{
    background-color: rgba(30,30,30, 0.4);
    border-radius: 4px;
}
