.toast {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 12em;
    max-width: 12em;
    background: rgba(70, 70, 70, 0.8);
    box-shadow: 0 0 50px rgb(30,30,30);
    text-align: center;
    border-radius: 8px;
    animation: fadeup 0.15s;

    img {
        height: 100px;
        width: 100px;
        margin: 0 auto;
    }
}
